body{
	background-color: black;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	color: yellowgreen;
	font-size: 10 px;
	margin: 0;
	padding: 0;

}
h2{
	display: inline;
}

#container{
	width: 70%;
	padding: 1em;
	border: 1px solid yellowgreen;
	margin: 0 auto;
}